.header__container {
  display: grid; /* O usa flex si prefieres */
  grid-template-columns: 5fr 7fr; /* Ajusta la proporción aquí */
  gap: 1rem;
  height: auto;
}


.header__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 50px 0px;
}
.header__left h2 {
  color: #2e3030;
  font-weight: 600;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 100px;
}
.header__left h2 span {
  color:#2e3030;
  font-weight: 300;
}
.evo__logo {
  position: relative;
  height: 9rem;
}
.evo__logo img {
  height: 100%;
  width: auto;
  overflow-x: hidden;
}
.evo__logo2 {
  position: relative;
  top: -1.5rem;
  left: 8rem;
  height: 5.5rem;
  width: auto;
}
.evo__logo2 img {
  height: 100%;
  width: auto;
}

.header__right {
    position: relative;
    height: auto; /* Cambia a auto para adaptarse al contenido */
    background-image: url('https://lh3.googleusercontent.com/d/1X0SVChVj5whGAvlZPQT1Iui06L_icuXw') ;
    background-repeat: no-repeat;
    background-size: cover;
  }

.arrow {
  position: relative;
  top: 4px;
  left: 4px;
}

/* BOTON */
@media screen and (max-width: 1380px) {
  
  .header__left h2{
    padding-top: 0px;
  }

  }


/*    M E D I A    Q U E R I E S     --    M E D I U M       */
@media screen and (max-width: 1024px) {
  .header__container {
    grid-template-columns: 1fr;
  }
  .header__right {
    display: none;
  }
 
  .header__left {
    flex-basis: 100%;
  }

  .header__left h2 {
    width: 70%;
  }
  .header__left h2>span{
    position: relative;
    bottom: 8px;
  }
  .header__left{
    padding: 30px 0px;
  }
}

/*    M E D I A    Q U E R I E S     --   S M A L L       */
@media screen and (max-width: 600px) {
  .header__left h2 {
    font-size: 1.5rem;
  }
  .evo__logo, .evo__logo2 {
    transform: scale(0.8);
  }

  .header__left h2 {
    width: 70%;
    padding-top: 50px;
  }
  .evo__logo {
    position: relative;
    height: 7rem;
  }
  .evo__logo2 {
    position: relative;
    top: -1rem;
    left: 0rem;
    height: 4rem;
    width: auto;
  }
 
}
